<% include partials/header %>

<header class="jumbotron" style="text-align:center">
    <div class="container">
        <h1 ><i class="shopping bag icon"></i>Welcome to ShipOut</h1>
        <p>The world biggest online shop</p>
    </div>
</header>

<% include partials/footer %>